@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,400;1,700&family=Lobster&family=Montserrat:wght@200&family=Noto+Sans:wght@200&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 150px;
}

.top-title{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 19.32px;
    line-height: 29px;
    color: #F20F38;
    padding: 4.42px;

}

.buttons-container{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 50px;
    align-items: center;
    justify-content: center;
    top: 150px;
    margin-left: 290px;
}

.users-container{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.postos-container{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 50px;
    background: #F20F38;
    align-items: center;
    justify-content: center;
    padding: 0px; 
    border-radius: 5px 5px 0px 0px;
}

.users-container h2{
    font-family: "Kanit", sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #F20F38;
    font-weight: 400;
}

.postos-container h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    color: #FEFEFE;
    line-height: 22px;
    font-size: 15px;
}

.mid-container{
    width: 100%;
    height: 100%;
    border-top: 2px solid #F20F38;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}

.card{
    width: 220px;
    height: 152px;
    background: #FEFEFE;
    border: 1.4px solid #F20F38;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.other-card{
    width: 220px;
    height: 152px;
    background: #FEFEFE;
    border: 1.4px solid #EFEFEF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.other-card p{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #023059;
    margin-left: 20px;
}

.other-card h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:#F20F38;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.top-info{
    width: 71px;
    height: 22px;
    background: #F20F38;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;
}

.top-info h4{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 8px;
    color: white;
    width: 51px;
    height: 12px;
}

.card h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:#F20F38;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.card p{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    color: #023059;
    margin-left: 20px;
}

.location-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}

.location-container img{
    width: 7px;
    height: 8.09px;
    margin-left: 20px;
}

.location-container h5{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 9px;
    width: 168px;
    height: 10px;
    margin-left: 5px;
    line-height: 8.91px;
    color: #023059;
}

.final-container{
    width: 1280px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
}

.note-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 12px;
    background: #023059;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 100px;
}

.fiscal-icon{
    width: 10px;
    height: 12px;
    top: 14px;
    left: 15px;
}

.add-fuel-station-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 131px;
    height: 40px;
    padding: 12px;
    gap: 12px;
    background: #F20F38;
    border-radius: 2px;
    margin-right: 30px;
    margin-top: 100px;
}

.plus-icon{
    width: 11px;
    height: 11px;
    top: 14.5px;
    left: 12px;
}

.add-fuel-station-container h2{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 11px;
    left: 12px;
    line-height: 16.45px;
    color: #FFFFFF;
}