@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,400;1,700&family=Lobster&family=Montserrat:wght@200&family=Noto+Sans:wght@200&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    color: #02305933 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: rgba(2, 48, 89, 0.2);
}

.station-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    width: 400px;
    height: 344px;
    background: #FEFEFE;
    border-radius: 5px 0px 0px 5px;
}

.name-container h2{
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    color: #023059;
}

.name-container input{
    width: 360px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    background: #EFEFEF;
    border-radius: 2px;
    border: none;
}

.name-container input::placeholder{
    font-size: 10px;
    line-height: 15px;
    color: #023059;
}

.location-container h2{
    width: 360px;
    height: 12px;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    color: #023059;
}

.location-container input{
    width: 360px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    background: #EFEFEF;
    border-radius: 2px;
    border: none;
}

.location-container input::placeholder{
    font-size: 10px;
    line-height: 15px;
    color: #023059;
}

.fuel-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 5px;
    width: 225px;
    height: 160px;
    left: 20px;
}

.fuel-container h2{
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #023059;
}

.fuel-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    height: 140px;
    gap: 5px;
}

.fuel-info-container p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    width: 150px;
    height: 30px;
    background: #EFEFEF;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #023059;
}

.price-fuel-container{
    width: 70px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.price-fuel-container p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    width: 70px;
    height: 30px;
    background: #EFEFEF;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #023059;
}

.customize-fuel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 0px;
    gap: 5px;
    width: 131px;
    height: 15px;
    border-radius: 2px;
    margin-top: -25px;
}

.customize-fuel img{
    width: 5px;
    height: 5px;
}

.customize-fuel p{
    font-size: 7px;
    font-weight: 400;
    line-height: 10px;
    color: #CFCFCF;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    width: 360px;
    height: 20px;
}

.save-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 67px;
    height: 20px;
    background: #F20F38;
    border-radius: 2px;
}

.save-button p{
    font-style: italic;
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.cancel-button{
    font-style: italic;
    font-weight: 400;
    font-size: 9px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AFAFAF;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 35px;
    background: #F20F38;
    border-radius: 3px 3px 0px 0px;
    margin-top: 20px;

}

.logo-container h1{
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    color: #FEFEFE;

}

.main-container{
    width: 240px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FEFEFE;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #F20F38;
    border-radius: 0px 0px 5px 0px;
    padding: 20px;
    gap: 5px;
    background: #FEFEFE;
}

.note-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 200px;
    height: 40px;
    color: #FEFEFE;
    border: 1px solid #EFEFEF;
    background-color: #FEFEFE;

}

.icon-container{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;

}

.data-container{
    width: 160px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.02));
    border-radius: 3px;
}

.data-container p{
    font-size: 9px;
    color: #023059;
    font-weight: 400;
    line-height: 13px;
    width: 49px;
    height: 13px;
}

.icons-container{
    gap: 10px;
}

 
 
 
 
 
 
 